body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: normal;
  font-size: 20px;
  background-color: #ffd6e9;
  padding: 10px, 25px, 25px, 30px;
}

h1 {
  font-size: 35px;
  text-align: center;
}

.title-bio {
  margin: 0px;
}
.bio {
  display: flex;
  flex-direction: row;
}
img {
  height: 200px;
  width: 200px;
}
